*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  user-select: none;
  color: inherit;
}

svg {
  display: block;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
select,
textarea {
  width: 100%;
  color: inherit;
  border: none;

  &:hover,
  &:focus {
    outline: none;
  }
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;

  &::placeholder {
    color: inherit;
    opacity: 0.6;
  }
}

