// Media queries
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px,
);

// Fonts
$font-main: "Circe", -apple-system, system-ui, sans-serif;
$font-title: "IBMPlexSerif", -apple-system, system-ui, sans-serif;

// Colors
$color-main:    #1C5D6B;
$color-hover:   #307584;
$color-active:  #155664;
$color-light:   #F0F6FA;
$color-gray:    #E2E7EB;
$color-black:   #202020;
