.nav {
  @include media-down(md) {
    display: none;
  }

  @include media-up(lg) {
    display: flex;
  }

  li {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  a {
    @include link;
  }
}
