.achieves {
  &__list {
    display: flex;
    flex-direction: column;

    @include media-up(md) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @include media-up(md) {
    border: 1px solid $color-gray;
  }
}

.achieve {
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 32px;

    @include media-up(md) {
      margin-bottom: 0;
      margin-right: 32px;
    }
  }

  &__title {

  }

  &__text {
    color: $color-main;
  }
}
