.achieves {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include media-up(md) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.achieve {
  text-align: center;

  &__title {

  }

  &__text {
    color: $color-main;
  }
}
