.blog {
  &__title {
    @include media-up(md) {
      margin-bottom: 40px;
    }
  }
}

.blog-post {
  width: 278px;
  background: $color-ghost;
  display: flex;
  flex-direction: column;

  @include media-up(md) {
    width: 350px;
  }

  @include media-up(xl) {
    width: 414px;
  }

  &__img {
    position: relative;
    display: block;
    padding-top: 78%;
    overflow: hidden;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: .5s;
    }

    &:hover img {
      transform: scale(1.1);
    }
  }

  &__content {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    margin-bottom: 12px;
    @include link;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__btn {
    margin-top: auto;

    @include media-up(md) {
      padding: 12px 32px;
    }
  }
}
