.features {
  @include media-up(md) {
    padding: 56px 0;
  }

  &__content {
    margin-bottom: 40px;
  }
}

.feature {
  $self: &;
  width: 160px;
  height: 210px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  background: $color-ghost;
  transition: .25s;

  @include media-up(md) {
    width: 180px;
    height: 240px;
    padding: 20px;
  }

  &:hover,
  &.swiper-slide-active {
    background: $color-main;
    color: #fff;
  }
}
