.form-section {
  background-color: $color-ghost;

  @include media-up(md) {
    padding: 80px 0;
    background-image: url(../img/base/case-right.png);
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position: right bottom;
  }

  @include media-up(xl) {
    background-size: auto 80%;
  }
}
