.hero {
  height: 100vh;
  @include first-section;
  padding-bottom: 0;
  background: $color-ghost;

  @include media-down(md) {
    height: var(--app-height);
  }

  &__container {
    height: 100%;
    position: relative;
    z-index: 1;

    @include media-up(md) {
      height: 75%;
      display: flex;
      align-items: center;
    }
  }

  &__content {
    position: relative;
    z-index: 1;

    @include media-down(sm) {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 20px 0;
    }

    @include media-up(md) {
      width: 630px;
    }
  }

  &__title {
    position: relative;
    width: fit-content;

    @include media-up(md) {
      margin-bottom: 30px;
    }

    &:after {
      content: '';
      position: absolute;
      right: -65%;
      bottom: -12px;
      display: block;
      width: 150px;
      padding-top: 55%;
      background-image: url(../img/base/pen.png);
      background-size: contain;
      background-repeat: no-repeat;

      @include media-up(md) {
        right: -70%;
        bottom: -18px;
        width: 243px;
      }

      @include media-up(xl) {
        right: -51%;
        bottom: -30px;
      }
    }
  }

  &__text {
    width: 215px;

    @include media-up(md) {
      width: 365px;
    }

    &.wow-init {
      opacity: 0.4;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: auto;

    @include media-up(md) {
      flex-direction: row;
      gap: 24px;
      margin-top: 30px;
    }

    .btn {
      @include media-down(sm) {
        width: 100%;
      }
    }
  }

  &__bg {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    pointer-events: none;

    @include media-up(lg) {
      position: fixed;
    }

    picture {
      position: absolute;

      &:first-child {
        position: absolute;
        z-index: 1;
        bottom: -230px;
        right: -50px;
        width: 100vw;
        height: 100vh;

        @include media-up(md) {
          width: 70vw;
          height: 70vw;
        }

        @include media-up(lg) {
          bottom: 5%;
          right: 0;
          width: 40%;
          height: auto;
          max-height: 100%;
          object-fit: contain;
          object-position: right;
        }

        img {
          object-position: right center;
        }
      }

      &:last-child {
        position: absolute;
        left: -60px;
        bottom: 0;
        width: 100vw;
        height: 45vh;

        @include media-up(md) {
          left: 0;
          width: 50%;
        }

        @include media-up(md) {
          left: 0;
          width: 37%;
        }

        img {
          object-position: left bottom;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
