.btn {
  display: inline-block;
  padding: 12px 24px;
  background: $color-main;
  line-height: 24px;
  color: #fff;
  user-select: none;
  text-align: center;
  transition-duration: .2s;
  transition-property: color, background-color;
  cursor: pointer;

  &:hover {
    background-color: $color-hover;
    color: #fff;
  }

  &:active {
    background-color: $color-active;
    color: #fff;
  }

  &--white {
    background: #fff;
    color: $color-main;
  }

  &--big {
    @include media-up(md) {
      font-size: 20px;
      padding: 16px 32px;
    }
  }
}
