[data-fancybox] {
  cursor: pointer;
}

.fancybox {
  &__backdrop {
    background: rgba(12, 40, 46, 0.64);
  }

  &__slide {
    @include media-down(sm) {
      padding: 20px;
    }
  }

  &__content {
    padding: 0;

    :focus {
      outline: inherit !important;
      box-shadow: inherit !important;
    }
  }
}
