[data-fancybox] {
  cursor: pointer;
}

.fancybox {
  &__backdrop {
    background: rgba(12, 40, 46, 0.64);
  }

  &__slide {
    @include media-down(sm) {
      display: block;
      padding: 0;
    }
  }

  &__content {
    padding: 0;

    @include media-down(sm) {
      min-height: 100vh;
    }

    .fancybox-change & {
      animation-duration: 0s;
    }

    :focus {
      outline: inherit !important;
      box-shadow: inherit !important;
    }
  }
}
