.form {
  &__title {
    @include title;
    margin-bottom: 20px;

    @include media-up(md) {
      margin-bottom: 32px;
    }
  }

  &__text {
    @include subtitle;
    margin-bottom: 20px;
  }

  &__fields {
    display: flex;
    flex-direction: column;

    @include media-up(md) {
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 630px;

      input {
        width: calc(50% - 10px);

        &:first-child {
          margin-right: 20px;
        }
      }
    }

    input,
    textarea {
      margin-bottom: 20px;
    }

    .wpcf7-form-control-wrap {
      width: 100%;
      margin-bottom: 20px;

      input,
      textarea {
        width: 100%;
        margin: 0;
      }

      @include media-up(md) {
        &:first-child {
          margin-right: 20px;
        }

        &[data-name='user-phone'],
        &[data-name='user-name'] {
          width: calc(50% - 10px);
        }
      }
    }
  }

  &__policy {
    margin-top: 20px;

    a {
      @include link-underline(#000);
    }
  }

  .btn {
    @include media-down(sm) {
      width: 100%;
    }

    @include media-up(md) {
      flex-shrink: 0;
    }
  }
}

input,
textarea {
  padding: 12px 16px;
  background: #fff;
  border: 1px solid $color-gray;

  &:-webkit-autofill {
    box-shadow: 0 0 0 50px #fff inset;
  }
}

input {
  height: 48px;
}

textarea {
  width: 100% !important;
  height: 96px;
  min-height: 96px;
}
