.hamburger {
  position: relative;
  z-index: 101;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  cursor: pointer;
  user-select: none;

  @include media-up(lg) {
    display: none;
  }

  span {
    display: block;
    position: absolute;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: $color-main;
    border-radius: 2px;
    color: inherit;
    opacity: 1;

    &:nth-child(1) {
      top: calc(50% - 8px);
      transition: top .3s, transform .3s, width .3s, background-color .3s;

      .show-nav & {
        width: 24px;
        top: 50%;
        transform: rotate(135deg);
      }
    }

    &:nth-child(2) {
      top: 50%;
      transition: width .3s;

      .show-nav & {
        width: 0;
      }
    }

    &:nth-child(3) {
      top: calc(50% + 8px);
      transition: top .3s, transform .3s, width .3s, background-color .3s;

      .show-nav & {
        width: 24px;
        top: 50%;
        transform: rotate(225deg);
      }
    }
  }
}
