.modal {
  display: none;
  padding: 20px;
  background: #FFFFFF;

  @include media-down(sm) {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  @include media-up(md) {
    width: 522px;
    padding: 32px;
  }

  &__form {
    .form__title {
      @include title;
      font-size: 24px;
      margin-bottom: 20px;
    }

    .btn {
      width: 100%;
    }
  }

  .carousel__button.is-close {
    top: 12px;
    right: 12px;
    width: 32px;
    height: 32px;
    color: $color-black;

    @include media-up(md) {
      top: 32px;
      right: 32px;
    }

    svg {
      width: 18px;
      height: 18px;
      filter: none;
    }
  }
}
