.modal {
  display: none;
  padding: 20px;
  background: #FFFFFF;

  @include media-down(sm) {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  @include media-up(md) {
    width: 522px;
    padding: 32px;
  }

  &__form {
    .form__title {
      margin-bottom: 20px;
    }

    .form__fields {
      @include media-up(md) {
        flex-direction: column;
      }
    }

    .btn {
      width: 100%;
    }
  }
}
