.swiper {
  position: relative;
  overflow: unset;
}

.swiper-wrapper {
  align-items: stretch
}

.swiper-slide {
  height: auto
}

.swiper-navigation {
  position: absolute;
  right: 0;
  top: -88px;
  display: flex;
  gap: 20px;

  @include media-down(sm) {
    display: none;
  }
}

.swiper-button {
  width: 48px;
  height: 48px;
  border: 1px solid #E2E7EB;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .25s;

  &:hover {
    color: #fff;
    background: $color-main;
    border-color: $color-main;
  }

  &-disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--prev {

  }

  &--next {
    transform: rotate(180deg);
  }
}
