.wow {
  opacity: 0;
  visibility: hidden;
  transition: .5s;
  transition-timing-function: cubic-bezier(.175,.885,.32,1.275);

  &.wow-init {
    opacity: 1;
    visibility: visible;
  }
}

.fadeInUp {
  transform: translateY(20%);

  &.wow-init {
    transform: translateY(0);
  }
}

.fadeInRight {
  transform: translateX(-20%);

  &.wow-init {
    transform: translateX(0);
  }
}

.fadeInLeft {
  transform: translateX(20%);

  &.wow-init {
    transform: translateX(0);
  }
}
